<h1>Real Estate Comp Book</h1>
<p>Welcome to Real Estate Comp Book! This application was created to help real estate agents and appraisers keep their property data organized and accessible.  All comps are backed up in an online database.  Make sense of your data.  Generate a market report and choose which comps to include.</p>
